<footer>
  <div class="container">
    <p>{{ site.title }}</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p>{{ site.description }}</p>
    <p>&copy; Company 2014</p>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
