<footer>
  <div class="container text-center">
    <p>
    	{{ site.address }}<br />
    	<a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a><br />
    	{{ site.phone }}
    </p>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
